Dockerfile
node_modules
packages/**/node_modules
apps/**/node_modules
npm-debug.log
temp
examples
.vscode
.github
.env
.env.example
.editorconfig
.eslintignore
.eslintrc.js
.npmrc
.prettierignore
.prettierrc
*.md
insomnia_user.json
tsconfig.tsbuildinfo