# fly.toml app configuration file generated for api-ratemyopeanpi-com on 2023-08-01T18:04:53+04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "api-ratemyopeanpi-com"
primary_region = "cdg"

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[env]
  PORT = "3000"