@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f8f8f8;
  color: #333;
}

main,
header {
  @apply container mx-auto px-4;
}

.icon-button {
  @apply flex h-[44px] w-[44px] items-center justify-center rounded-lg border-none p-0;
}

.icon-button-submit {
  @apply icon-button bg-pink-600 transition-all hover:bg-pink-500 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:bg-none;
}

.button {
  @apply rounded-lg border p-4 text-center font-medium transition-colors;
}

.button-dark {
  @apply button border-black bg-black text-white md:hover:bg-transparent md:hover:text-black;
}

.button-light {
  @apply button border-black md:hover:bg-black md:hover:text-white;
}

.button-transparent {
  @apply button border-transparent  md:hover:border-black;
}

code {
  @apply bg-gray-100 p-[2px];
}
